{% extends "layout.html" %}
{%block body %}


<body class="page-login center">
 <form action="/changePasswordRoute" method="POST">
  <div class="center">
    <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;">
      <div class="card-header">
        <div class="brand-logo">
          South Dakota State University
        </div>
        <div class="brand-logo">
          Wellness Center - Rock Wall
        </div>
      </div>
      <div class="card-content">
        <form class="form-floating">
         {% if error %}
         <p class=error style="color: #0032a0"><strong>{{ error }}</strong> 
           {% endif %}
           <div class="form-group">
             <input class="form-control" type="email" name="email" required="" placeholder="E-Mail">
           </div>
           <div class="form-group">
             <input class="form-control" type="password" name="newPassword" required="" placeholder="New Password" minlength=6>
           </div>
           <div class="form-group">
             <input class="form-control" type="password" name="confirmNewPassword" required="" placeholder="Confirm New Password" minlength="6">
           </div>
        </form>
        <div class="card-action clearfix">
          <div align="left">
            <button type="submit" class="button"><strong>Change Password</strong></button>
          </div>
          <hr/>
          <div align="left">
            <button type="submit" class="button" onclick="goBack()"><strong>Back</strong></button>
          </div>
          <div>
            <a href="createAccount" style="color: #0032a0"><b>Create Account<b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}