<!doctype html>
<html lang="en">
<head>
  <link href="/static/css/styles.min.css" rel="stylesheet" />
  <link href="/static/css/styles.css" rel="stylesheet" />

</head>

<aside class="sidebar fixed">
  <div class="brand-logo">
    South Dakota State University
  </div>
  <ul ng-cloak class="sidebar-ul ">
    <a menu-link href="#/ui-elements/cards">Patrons</a>
    <div class="hrme">
    </div>
    <a menu-link href="#/ui-elements/cards">Cards</a>
    <div class="hrme">
    </div>
    <a menu-link href="#/ui-elements/cards">Logout</a>

  </ul>
</aside>

{%block body %}

{% endblock %}
